
.table-view .column-header {
    -fx-background-color: linear-gradient(to bottom, #cf4747, #b32727); /* Dégradé de bleu */
}


.table-view .column-header .label {
    -fx-text-fill: #FFFFFF; /* White text for headers */
    -fx-font-weight: bold;
    -fx-font-size: 13px;
}
.error {
    -fx-border-color: red;
}

.error .text {
    -fx-fill: red;
}


.button {
    -fx-background-color: #FFFFFF; /* Bleu */
    -fx-text-fill: #5462ff; /* Blanc */

}

.button:hover {
    -fx-background-color: #F0F8FF; /* Mauve clair */
}
.formation-card {
    -fx-background-color: white;
    -fx-background-radius: 10;
    -fx-border-radius: 10;
    -fx-border-color: #e0e0e0;
    -fx-border-width: 1;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.1), 5, 0, 0, 0);
}

.formation-card:hover {
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.2), 8, 0, 0, 0);
    -fx-border-color: #2196F3;
}